.root {
  max-width: var(--ifm-container-width);
  margin: 0 auto 5rem auto;
  padding: 0 1rem;
  margin: 2rem auto;
}

.title {
  font-size: var(--ifm-h2-font-size);
  line-height: var(--ifm-h2-font-size);
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.link {
  display: block;
  margin-bottom: 4rem;
}

.categories {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.posts {
  --cols: 1;
  --gap: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
  gap: var(--gap);
  margin-bottom: 5rem;
}

@media screen and (min-width: 576px) {
  .posts {
    --cols: 2;
    --gap: 3rem 1rem;
  }
}

@media screen and (min-width: 996px) {
  .root {
    margin-top: 5rem;
  }
  .posts {
    --cols: 3;
    --gap: 4rem 2rem;
  }
}
